<script async src="{{ 'index.js' | asset_url }}"></script>
<script async src="{{ 'tiki_cookie_privacy.js' | asset_url }}"></script>
<script async src="{{ 'tiki_sdk_anon.js' | asset_url }}"></script>
<script defer src="{{ 'tiki_embed.js' | asset_url }}"></script>
 
{% schema %}
{
  "name": "TIKI",
  "target": "body",
  "settings": [
    { "type": "checkbox", "id": "preview", "label": "Preview Banner", "default": false },
    { "type": "color", "id": "primaryTextColor", "label": "PrimaryTextColor", "default": "#1C0000" },
    { "type": "color", "id": "secondaryTextColor", "label": "SecondaryTextColor", "default": "#00001C" },
    { "type": "color", "id": "primaryBackgroundColor", "label": "PrimaryBackgroundColor", "default": "#FFFFFF" },
    { "type": "color", "id": "secondaryBackgroundColor", "label": "SecondaryBackgroundColor", "default": "#F6F6F6" },
    { "type": "color", "id": "accentColor", "label": "AccentColor", "default": "#00b272" },
    { "type": "text", "id": "fontFamily", "label": "Font Family", "default": "Space Grotesk" },
    { "type": "checkbox", "id": "enable_discount", "label": "Enable discount coupons", "default": true, "info":"Wether to enable discount coupons offer." },
    { "type": "text", "id": "discount_type", "label": "Discount Type", "default": "Space Grotesk", "info":"The WooCommerce Coupon type of discount." },
    { "type": "number", "id": "discount_value", "label": "Discount Value", "default": 10, "info":"The numeric value of the discount. It can be a percentage or a fixed value, depending on the discount type. Accepts up to 2 decimal numbers." },
    { "type": "text", "id": "description", "label": "Description", "default": "desc", "info":"Small text to add user-friendly details to the Offer. We recommend including details like the type of data the user is trading and participation requirements (like 10% off your next purchase of $10 or more)." },
    { "type": "image_picker", "id": "offer_image", "label": "Offer image", "info":"A 300 x 86 resolution image that ilustrates the offer. We've elected to make this portion of the UI an image so you can get as fancy/detailed as you'd like. We strongly recommend the image to be compelling, easy to understand, and focused on the incentive for the user to participate (hence, why it's called the reward image). The reward always goes hand in hand with the text Description (like a caption), so avoid over crowding it with too much text." },
    { "type": "checkbox", "id": "is_used_1", "label": "Is Used", "default": true, "info":"Is the use case 1 used?" },
    { "type": "text", "id": "use_case_1", "label": "Offer use case 1", "default": "Use case 1", "info":"Short statement for users on how their data will be used or not used, using familiar terms to enhance understanding and trust." },
    { "type": "checkbox", "id": "is_used_2", "label": "Is Used", "default": true, "info":"Is the use case 2 used?" },
    { "type": "text", "id": "use_case_2", "label": "Offer use case 2", "default": "Use case 2", "info":"Short statement for users on how their data will be used or not used, using familiar terms to enhance understanding and trust." },
    { "type": "checkbox", "id": "is_used_3", "label": "Is Used", "default": true, "info":"Is the use case 3 used?" },
    { "type": "text", "id": "use_case_3", "label": "Offer use case 3", "default": "Use case 3", "info":"Short statement for users on how their data will be used or not used, using familiar terms to enhance understanding and trust." },
    { "type": "richtext", "id": "terms", "label": "Terms", "default": "<p></p>", "info":"The terms and conditions URL for this offer agreement. It should be a URL to a plain text file containing the legal conditions. This file can include simple markdown format." }
  ]
}
{% endschema %}

